.footer {
    position: fixed;
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    padding: 16px 0;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    text-decoration: none;
  }
  
  .footer-text {
    margin: 0;
}
  
  .footer-project {
    font-weight: bold;
  }
  